.page-show {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.page-show ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;

}

.page-show ul li {
    margin: 0 5px;
    padding: 5px 10px;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: #D7D7D7;
    cursor: pointer;
}

.page-selected {
    padding: 10px 15px !important;
}